<div ng-controller="postsController">
  <ng-show="!newPostClicked">
<!--This is not working yet-->
    <ng-click="newPostClicked=true">
      <a ui-sref=".new"> Add a new post</a>
    </ng-click>

  </ng-hide>
    <div ui-view="new">
    </div>

  <div class= "post_list" ng-repeat="post in posts | orderBy:'date':true">
    <a ui-sref="show({id: post.id})">
      <h2> {{post.title}} </h2>
    </a>
    <span ng-repeat="tag_id in post.tag_ids">
      {{getTagName(tag_id)}}
    </span>
    <small ng-if="post.date">{{ post.date | date: 'MMM d, y h:mm a' }}<br></small>
    <small ng-if="post.fakeDate">{{ post.fakeDate | date: 'MMM d, y h:mm a' }}<br></small>
    <p>{{post.content}}</p>
    <hr>
  </div>

</div>
